@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar{
    background-color: black;
    color: white; 
    display: flex;
    align-items: flex-end;
       
}
.topic{
    margin-left: 100px;
    align-items: center;
    font-size: xx-large;
}

